{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<title>Научный старт</title>
</head>

<body>
	<header class="header">
		<div class="inner-header">
			<a class="logo" href="#">
				<img class="logo__img" src="img/logo.png" alt="Логотип">
				<p><span>журнал</span><br>НАУЧНЫЙ СТАРТ:<br>"ЦИФРОВАЯ ТРАНСФОРМАЦИЯ"</p>
			</a>
			<div class="search">
				<input type="text" class="search__input">
				<button class="search__btn">
					<img src="img/search.png" alt="Искать">
				</button>
			</div>
			<div class="burger">
				<span></span>
			</div>
		</div>
		<nav class="menu">
			<div class="search">
				<input type="text" class="search__input">
				<button class="search__btn">
					<img src="img/search.png" alt="Искать">
				</button>
			</div>
			<ul class="menu__list">
				<li class="menu__item"><a href="#">ГЛАВНАЯ</a></li>
				<li class="menu__item menu__item_hover">ЖУРНАЛ
					<img src="img/arrow.png" alt="Список">
					<div class="wrap-sub-menu__list">
						<ul class="sub-menu__list">
							<li><a href="#">РУКОВОДСТВО ЖУРНАЛА</a></li>
							<li><a href="#">РЕДАКЦИОННЫЙ СОВЕТ ЖУРНАЛА</a></li>
							<li><a href="#">РЕДАКЦИОННАЯ КОЛЛЕГИЯ ЖУРНАЛА</a></li>
							<li><a href="#">АВТОРАМ</a></li>
							<li><a href="#">АРХИВ</a></li>
						</ul>
					</div>
				</li>
				<li class="menu__item menu__item_hover">ЭКСПЕРТЫ В IT И "ЦИФРОВАЯ ИНФОРМАЦИЯ"
					<img src="img/arrow.png" alt="Список">

				</li>
				<li class="menu__item"><a href="#">ПРОФОРИЕНТАЦИОННЫЙ ТЕСТ</a></li>
				<li class="menu__item"><a href="#">НОВОСТИ</a></li>
				<li class="menu__item"><a href="#">КОНТАКТЫ</a></li>
			</ul>
		</nav>
	</header>

	<main class="current-news">
		<a class="current-news__back" href="#">Назад</a>
		<h1 class="current-news__title">I Международная научно-практическая конференция профессорско-преподавательского
			состава и молодых ученых
			«ЦИФРОВЫЕ ТЕХНОЛОГИИ: НАУКА, ОБРАЗОВАНИЕ, ИННОВАЦИИ»</h1>
		<p class="current-news__sub-title">13 ноября 2018 года преподаватели и студенты Московского Политехнического
			университета приняли участие в I
			Международной научно-практической конференция профессорско-преподавательского состава и молодых ученых «ЦИФРОВЫЕ
			ТЕХНОЛОГИИ: НАУКА, ОБРАЗОВАНИЕ, ИННОВАЦИИ, которая состоялась на базе Московского государственного
			технологического университета «СТАНКИН». </p>
		<div class="current-news__img">
			<img src="img/sobranie3.png" alt="Вручение грамот">
		</div>
		<div class="current-news__inner">
			<p class="current-news__description">Конференция проводилась при информационной поддержке федерального
				промышленного журнала «Умное производство»,
				научно-практического журнала «Качество. Инновации. Образование» и научного журнала «Вестник МГТУ
				«Станкин».<br><br>

				Перед началом мероприятия ОЛЕЙНИК А.В.— доктор технических наук, профессор, лауреат премии Правительства
				Российской Федерации в области науки и техники, лауреат премии Правительства Российской Федерации в области
				образования, заведующий кафедрой «Управление и информатика в технических системах» Московского государственного
				технологического университета «СТАНКИН» (Председатель программного комитета), поблагодарил коллектив
				программного комитетаза большую проведенную работу при отборе докладов, которые были представлены на
				конференции, а также членов организационного комитетаза организацию и дальнейшую координацию мероприятия.</p>
			<div class="current-news__inner-img">
				<img src="img/vruchenie.png" alt="Вручение">
			</div>
			<div class="current-news__inner-img">
				<img src="img/vruchenie.png" alt="Вручение">
			</div>
			<div class="event-news">
				<p class="event-news__text">Конференцияпроводилась в два этапа: отборочный и университетский. В рамках
					Конференции были заслушаны 107
					докладов преподавателей и студентов МГТУ «СТАНКИН» и 13 московских вузов:</p>
				<ul class="event-news__list">
					<li class="event-news__item">Московский государственный университет имени М.В. Ломоносова;</li>
					<li class="event-news__item">Финансовый университет при Правительстве Российской Федерации;</li>
					<li class="event-news__item">Московский Педагогический Государственный Университет;</li>
					<li class="event-news__item">Московский Политехнический университет»;</li>
					<li class="event-news__item">Российский государственный университет физической культуры, спорта, молодежи и
						туризма;
					<li class="event-news__item">Московский государственный юридический университет им. О.Е. Кутафина (МГЮА);</li>
					<li class="event-news__item">Московский университет МВД России имени В.Я. Кикотя;</li>
					<li class="event-news__item">Московский государственный технологический университет «СТАНКИН»;</li>
					<li class="event-news__item">Институт права и национальной безопасности Российской академии народного
						хозяйства и государственной
						службы при Президенте Российской Федерации (РАНХиГС);</li>
					<li class="event-news__item">Всероссийский государственный университет юстиции (РПА Минюста России);</li>
					<li class="event-news__item">Российский Государственный Университет Правосудия;</li>
					<li class="event-news__item">Российский Государственный Университет нефти и газа (НИУ) им. И.М. Губкина;</li>
					<li class="event-news__item">Российская государственная Академия интеллектуальной собственности.</li>
				</ul>
			</div>
			<div class="event-news">
				<p class="event-news__text">Конференцияпроводилась в два этапа: отборочный и университетский. В рамках
					Конференции были заслушаны 107
					докладов преподавателей и студентов МГТУ «СТАНКИН» и 13 московских вузов:</p>
				<ul class="event-news__list">
					<li class="event-news__item">Московский государственный университет имени М.В. Ломоносова;</li>
					<li class="event-news__item">Финансовый университет при Правительстве Российской Федерации;</li>
					<li class="event-news__item">Московский Педагогический Государственный Университет;</li>
					<li class="event-news__item">Московский Политехнический университет»;</li>
					<li class="event-news__item">Российский государственный университет физической культуры, спорта, молодежи и
						туризма;
					<li class="event-news__item">Московский государственный юридический университет им. О.Е. Кутафина (МГЮА);</li>
					<li class="event-news__item">Московский университет МВД России имени В.Я. Кикотя;</li>
					<li class="event-news__item">Московский государственный технологический университет «СТАНКИН»;</li>
					<li class="event-news__item">Институт права и национальной безопасности Российской академии народного
						хозяйства и государственной
						службы при Президенте Российской Федерации (РАНХиГС);</li>
					<li class="event-news__item">Всероссийский государственный университет юстиции (РПА Минюста России);</li>
					<li class="event-news__item">Российский Государственный Университет Правосудия;</li>
					<li class="event-news__item">Российский Государственный Университет нефти и газа (НИУ) им. И.М. Губкина;</li>
					<li class="event-news__item">Российская государственная Академия интеллектуальной собственности.</li>
				</ul>
			</div>
		</div>
		<p class="current-news__final-txt">Дипломом первой степени награждает ЗЕЛЕНСКИЙ АЛЕКСАНДР АЛЕКСАНДРОВИЧ Проректор по
			научной работе и
			научно-технической политике Московского государственного технологического университета «СТАНКИН»<br><br>

			Студенты факультета информационных технологий Московского Политеха ФЕДОТОВ НИКИТА и Минибаева Анастасия Факультета
			Машиностроениев своем выступлении осветили вопросы роли цифровых технологий в современной экономике и их влиянию
			на бизнес. Основные виды экономической деятельности, в которых применяются информационные технологии.
			Проанализировали преимущества информационных технологий в электронном бизнесе. Научный руководитель: Чикунов ИВАН
			заведующий кафедрой «Инфокогнитивные технологии».<br><br>

			студенткой Юридического факультета (РГАИС)БУЗИНОЙ ЕКАТЕРИНЕ и студентом Политехнического университета БУСЫРЕВЫМ
			ВЛАДИМИРОМ под руководством научных руководителей: ЩЕРБАКА ЕВГЕНИЯ доктора юридических наук, профессора и ТЮМЕНЕВА
			АЛЕКСАНДРА подполковника полиции, начальника управления комплексной безопасности Московского политехнического
			университета.Они совместно подготовили доклад,в котором представили проект АТС, принцип работы и применение. В
			докладе они изложили кратко процесс разработки изделия и более подробно его возможности на практическом применении
			и дальнейшего патентования данной разработки.<br><br>

			студенты факультета Информационных технологий ЗИНОВКИН АНДРЕЙ и ЕМЕЛЬЯНОВА АННА под руководством к.п.н. доцента
			кафедры «Инфокогнитивные технологии» БРИТВИНОЙ ВАЛЕНТИНЫв своем выступлении проанализировали статистику рынка
			труда в сфере информационных технологий. Выявлены предпосылки к утрате востребованности такого языка
			программирования, как Perl, в течение 3-5 лет. При этом наблюдается стабильно высокая потребность в программистах
			со знанием Java. Также стоит отметить достаточно большой процент работающих удаленно, но при этом на постоянной
			основе. Имеет место быть зависимость уровня оплаты труда от опыта работы, хоть и не такая явная, как в других
			областях, но для специалистов работающих с различными языками программирования опыт значительно менее
			важен.<br><br>

			ПОЗДРАВЛЯЕМ ПОБЕДИТЕЛЕЙ и ПРИЗЕРОВ КОНФЕРЕНЦИИ!!!</p>
	</main>


	<footer class="footer">
		<div class="inner-footer">
			<a class="logo" href="#">
				<img class="logo__img" src="img/logo.png" alt="Логотип">
				<p><span>журнал</span><br>ТЕОРИЯ И ПРАКТИКА<br>ПРОЕКТНОГО ОБРАЗОВАНИЯ</p>
			</a>
		</div>
		<nav class="footer-menu">
			<ul class="footer-menu__list">
				<li class="footer-menu__item"><a href="#">ГЛАВНАЯ</a></li>
				<li class="footer-menu__item footer-menu__item_hover">
					<span>ЖУРНАЛ</span>
					<img src="img/arrow.png" alt="Список">
					<ul class="sub-footer-menu__list">
						<li><a href="#">РУКОВОДСТВО ЖУРНАЛА</a></li>
						<li><a href="#">РЕДАКЦИОННЫЙ СОВЕТ ЖУРНАЛА</a></li>
						<li><a href="#">РЕДАКЦИОННАЯ КОЛЛЕГИЯ ЖУРНАЛА</a></li>
						<li><a href="#">АВТОРАМ</a></li>
						<li><a href="#">АРХИВ</a></li>
					</ul>
				</li>
				<li class="footer-menu__item footer-menu__item_hover">
					<span>ЭКСПЕРТЫ В IT И "ЦИФРОВАЯ ИНФОРМАЦИЯ"</span>
					<img src="img/arrow.png" alt="Список">
				</li>
				<li class="footer-menu__item"><a href="#">ПРОФОРИЕНТАЦИОННЫЙ ТЕСТ</a></li>
				<li class="footer-menu__item"><a href="#">НОВОСТИ</a></li>
				<li class="footer-menu__item"><a href="#">КОНТАКТЫ</a></li>
			</ul>
		</nav>
	</footer>

	<script src="script.js"></script>
</body>

</html>