{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<title>Научный старт</title>
</head>

<body>
	<header class="header">
		<div class="inner-header">
			<a class="logo" href="#">
				<img class="logo__img" src="img/logo.png" alt="Логотип">
				<p><span>журнал</span><br>НАУЧНЫЙ СТАРТ:<br>"ЦИФРОВАЯ ТРАНСФОРМАЦИЯ"</p>
			</a>
			<div class="search">
				<input type="text" class="search__input">
				<button class="search__btn">
					<img src="img/search.png" alt="Искать">
				</button>
			</div>
			<div class="burger">
				<span></span>
			</div>
		</div>
		<nav class="menu">
			<div class="search">
				<input type="text" class="search__input">
				<button class="search__btn">
					<img src="img/search.png" alt="Искать">
				</button>
			</div>
			<ul class="menu__list">
				<li class="menu__item"><a href="#">ГЛАВНАЯ</a></li>
				<li class="menu__item menu__item_hover">ЖУРНАЛ
					<img src="img/arrow.png" alt="Список">
					<div class="wrap-sub-menu__list">
						<ul class="sub-menu__list">
							<li><a href="#">РУКОВОДСТВО ЖУРНАЛА</a></li>
							<li><a href="#">РЕДАКЦИОННЫЙ СОВЕТ ЖУРНАЛА</a></li>
							<li><a href="#">РЕДАКЦИОННАЯ КОЛЛЕГИЯ ЖУРНАЛА</a></li>
							<li><a href="#">АВТОРАМ</a></li>
							<li><a href="#">АРХИВ</a></li>
						</ul>
					</div>
				</li>
				<li class="menu__item menu__item_hover">ЭКСПЕРТЫ В IT И "ЦИФРОВАЯ ИНФОРМАЦИЯ"
					<img src="img/arrow.png" alt="Список">

				</li>
				<li class="menu__item"><a href="#">ПРОФОРИЕНТАЦИОННЫЙ ТЕСТ</a></li>
				<li class="menu__item"><a href="#">НОВОСТИ</a></li>
				<li class="menu__item"><a href="#">КОНТАКТЫ</a></li>
			</ul>
		</nav>
	</header>

	<main class="editors">
		<h1>Редакционная коллегия журнала</h1>
		<div class="editors__head">
			<h2>Шеф-редактор: Олейник Андрей Владимирович.</h2>
			<h2>Научный редактор: Бондарь Валентин Степанович.</h2>
			<h2>Главный редактор: Бритвина Валентина Валентиновна.</h2>
			<h2>Заместитель главного редактора: Чаттаев Азамат Русланович,
				Муханов Сергей Александрович.</h2>
			<h2>Ответственный редактор раздела «Естественно-научная проектно-исследовательская деятельность в учебном
				заведение»: Бычкова Наталья Александровна.</h2>
			<h2>Ответственный редактор раздела «Правовое обеспечение в сфере науки, технологий и образования»: Сушкова Ольга
				Викторовна.</h2>
			<h2>Ответственный редактор раздела «Проектирование и прогнозирование в социально-экономической сфере»: Будылина
				Евгения Александровна.</h2>
			<h2>Ответственный редактор раздела «Проектная деятельность в области культуры, спорта и туризма»: Седенков Сергей
				Евгеньевич.</h2>
			<h2>Ответственный редактор раздела «Молодые ученые – поиск самоопределения»: Конюхова Галина Павловна</h2>
			<h2>Руководитель интернет проектов: Бобров Кирилл Романович.</h2>

			<h2>Технический редактор и корректор: Муханова Анна Александровна.</h2>
			<h2>Редактор английского текста: Baier Tatiana, PhD, MUSC Wellness Centre, Charleston, South Carolina, USA.</h2>
			<h2>Ответственный секретарь редакционного совета журнала: Боброва Екатерина Олеговна.</h2>
		</div>
		<div class="editors__members">
			<h2>Члены Редакционного Совета</h2>
			<ul>
				<li>Артамонова Марина Вадимовна, кандидат экономических наук, доцент кафедры экономики труда и персонала
					экономического факультета МГУ имени М.В. Ломоносова.</li>
				<li>Архангельская Мария Владимировна, кандидат педагогических наук, доцент кафедры социально-гуманитарных,
					экономических и естественнонаучных дисциплин ИП и НБ РАНХиГС при Президенте Российской Федерации.</li>
				<li>Архангельский Александр Игоревич, Почетный работник высшего профессионального образования Российской
					Федерации
					кандидат педагогических наук, доцент, доцент кафедры «Математика» Московского политехнического университета.
				</li>
				<li>Береснева Яна Владиславовна, старший преподаватель кафедры «Инфокогнитивные технологии» Московского
					политехнического университета, старший преподавате ль кафедры специальных вычислительных комплексов,
					программного и информационного обеспечения автоматизированных систем управления и робототехнических комплексов
					Военной академии ракетных войск стратегического назначения имени Петра Великого.</li>
				<li>Белая Олеся Валерьевна, кандидат юридических наук, доцент кафедры гражданского права и процесса Балтийского
					федерального университета имени И. Канта.</li>
				<li>Берков Николай Андреевич, Почетный работник высшего профессионального образования Российской Федерации,
					кандидат технических наук, доцент, доцент кафедры «Высшая математика 2» Физико-технологического института
					Московского технологического университета (МИРЭА).</li>
				<li>Боброва Елизавета Игоревна, специалист первой категории по учебно-методической работе Московский
					государственный институт международных отношений (Университет) Министерства иностранных дел Российской
					Федерации.</li>
				<li>Будылина Евгения Александровна, кандидат физико-математических наук, доцент кафедры «Инфокогнитивные
					технологии» Московского политехнического университета.</li>
				<li>Бритвина Валентина Валентиновна, кандидат педагогических наук, доцент кафедры «Инфокогнитивные технологии»
					Московского политехнического университета, доцент кафедры «Управление и информатика в технических системах»
					Московского государственного технологического университета «СТАНКИН».</li>
				<li>Бычкова Наталья Александровна, кандидат технических наук, доцент кафедры «Управление и информатика в
					технических системах» Московского государственного технологического университета «СТАНКИН».</li>
				<li>Диева Нина Николаевна, кандидат технических наук, доцент кафедры нефтегазовой и подземной гидромеханики РГУ
					нефти и газа (НИУ) имени И.М. Губкина.</li>
				<li>Елисеева Наталья Владимировна, кандидат технических наук, доцент кафедры «Управление и информатика в
					технических системах» Московского государственного технологического университета «СТАНКИН».</li>
				<li>Еникеева Светлана Дмитриевна, кандидат экономических наук, доцент, доцент экономического факультета
					Московского государственного университета им. М.В. Ломоносова.</li>
				<li>Жукова Ольга Владиславовна, кандидат экономических наук, заведующий кафедрой Менеджмента и экономики спорта
					имени В. В. Кузина Российского государственного университета физической культуры, спорта, молодежи и туризма
					«ГЦОЛИФК».</li>
				<li>Загребельная Наталья Станиславовна, декан факультета прикладной экономики и коммерции, кандидат
					экономических
					наук, доцент кафедры менеджмента, маркетинга и внешнеэкономической деятельности им. И.Н. Герчиковой Московский
					государственный институт международных отношений (Университет) Министерства иностранных дел Российской
					Федерации.</li>
				<li>Змазнева Олеся Анатольевна, кандидат философских наук доцент кафедры «Инфокогнитивные технологии»
					Московского
					политехнического университета.</li>
				<li>Канапьянов Серик Хабдульмуталяпович, полковник, кандидат педагогических наук, методист Учебно-методического
					управления Национального университета обороны имени Первого Президента Республики Казахстан-Елбасы.</li>
				<li>Конюхова Галина Павловна, кандидат педагогических наук, доцент кафедры «Управление и информатика в
					технических
					системах» Московского государственного технологического университета «СТАНКИН».</li>
				<li>Лхагвасурэн Гундэгмаа, PhD, проректор Национального Института Физической культуры Монголии.</li>
				<li>Микола Седак, преподаватель права, доцент Университета Коменского в Братиславе, Словакия.</li>
				<li>Моргунов Юрий Алексеевич, кандидат технических наук, доцент, декан факультета базовых компетенций
					Московского
					политехнического университета.</li>
				<li>Муханов Сергей Александрович, кандидат педагогических наук, доцент кафедры «Математика» Московского
					политехнического университета.</li>
				<li>Муханова Анна Александровна кандидат педагогических наук, доцент кафедры высшей математики Российского
					государственного аграрного заочного университета.</li>
				<li>Петров Валерий Евгеньевич кандидат технических наук, доцент кафедры «Управление и информатика в технических
					системах» Московского государственного технологического университета «СТАНКИН», заместитель генерального
					конструктора по научной работе компании «СОЛВЕР».</li>
				<li>Сушкова Ольга Викторовна, кандидат юридических наук, доцент, доцент кафедры Предпринимательского и
					корпоративного права Московского государственного юридического университета им. О.Е. Кутафина (МГЮА), доцент
					кафедры предпринимательского, трудового и корпоративного права Юридического факультета РАНХиГС.</li>
				<li>Филиппович Юрий Николаевич, кандидат технических наук, профессор кафедры «Инфокогнитивные технологии»
					Московского политехнического университета.</li>
				<li>Хмыз Алексей Иванович, кандидат юридических наук, подполковник полиции, старший преподаватель кафедры
					«Оружиеведения и трасологии учебно-научного комплекса судебной экспертизы» Московского университета МВД России
					имени В.Я. Кикотя.</li>
				<li>Чаттаева Виолетта Раисовна, кандидат юридических наук, старший преподаватель кафедры «Управления и
					гражданское
					право» Института Деловой Карьеры.</li>
				<li>Чикунов Иван Михайлович, кандидат технических наук, доцент кафедры «Инфокогнитивные технологии» Московского
					политехнического университета.</li>
				<li>Чаттаев Азамат Русланович, кандидат юридических наук, доцент кафедры гражданско-правовых дисциплин АНО ВУ
					«Открытый Гуманитарно-Экономический Университет».</li>
				<li>Щербак Анна, кандидат юридических наук, сотрудник Bureauvan Dijk, a Moody‘s Analytics Company, Женева,
					Швейцария.</li>
			</ul>
		</div>
	</main>
	<footer class="footer">
		<div class="inner-footer">
			<a class="logo" href="#">
				<img class="logo__img" src="img/logo.png" alt="Логотип">
				<p><span>журнал</span><br>ТЕОРИЯ И ПРАКТИКА<br>ПРОЕКТНОГО ОБРАЗОВАНИЯ</p>
			</a>
		</div>
		<nav class="footer-menu">
			<ul class="footer-menu__list">
				<li class="footer-menu__item"><a href="#">ГЛАВНАЯ</a></li>
				<li class="footer-menu__item footer-menu__item_hover">
					<span>ЖУРНАЛ</span>
					<img src="img/arrow.png" alt="Список">
					<ul class="sub-footer-menu__list">
						<li><a href="#">РУКОВОДСТВО ЖУРНАЛА</a></li>
						<li><a href="#">РЕДАКЦИОННЫЙ СОВЕТ ЖУРНАЛА</a></li>
						<li><a href="#">РЕДАКЦИОННАЯ КОЛЛЕГИЯ ЖУРНАЛА</a></li>
						<li><a href="#">АВТОРАМ</a></li>
						<li><a href="#">АРХИВ</a></li>
					</ul>
				</li>
				<li class="footer-menu__item footer-menu__item_hover">
					<span>ЭКСПЕРТЫ В IT И "ЦИФРОВАЯ ИНФОРМАЦИЯ"</span>
					<img src="img/arrow.png" alt="Список">
				</li>
				<li class="footer-menu__item"><a href="#">ПРОФОРИЕНТАЦИОННЫЙ ТЕСТ</a></li>
				<li class="footer-menu__item"><a href="#">НОВОСТИ</a></li>
				<li class="footer-menu__item"><a href="#">КОНТАКТЫ</a></li>
			</ul>
		</nav>
	</footer>

	<script src="script.js"></script>
</body>

</html>