{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<title>Научный старт</title>
</head>

<body>
	<header class="header">
		<div class="inner-header">
			<a class="logo" href="#">
				<img class="logo__img" src="img/logo.png" alt="Логотип">
				<p><span>журнал</span><br>НАУЧНЫЙ СТАРТ:<br>"ЦИФРОВАЯ ТРАНСФОРМАЦИЯ"</p>
			</a>
			<div class="search">
				<input type="text" class="search__input">
				<button class="search__btn">
					<img src="img/search.png" alt="Искать">
				</button>
			</div>
			<div class="burger">
				<span></span>
			</div>
		</div>
		<nav class="menu">
			<div class="search">
				<input type="text" class="search__input">
				<button class="search__btn">
					<img src="img/search.png" alt="Искать">
				</button>
			</div>
			<ul class="menu__list">
				<li class="menu__item"><a href="#">ГЛАВНАЯ</a></li>
				<li class="menu__item menu__item_hover">ЖУРНАЛ
					<img src="img/arrow.png" alt="Список">
					<div class="wrap-sub-menu__list">
						<ul class="sub-menu__list">
							<li><a href="#">РУКОВОДСТВО ЖУРНАЛА</a></li>
							<li><a href="#">РЕДАКЦИОННЫЙ СОВЕТ ЖУРНАЛА</a></li>
							<li><a href="#">РЕДАКЦИОННАЯ КОЛЛЕГИЯ ЖУРНАЛА</a></li>
							<li><a href="#">АВТОРАМ</a></li>
							<li><a href="#">АРХИВ</a></li>
						</ul>
					</div>
				</li>
				<li class="menu__item menu__item_hover">ЭКСПЕРТЫ В IT И "ЦИФРОВАЯ ИНФОРМАЦИЯ"
					<img src="img/arrow.png" alt="Список">

				</li>
				<li class="menu__item"><a href="#">ПРОФОРИЕНТАЦИОННЫЙ ТЕСТ</a></li>
				<li class="menu__item"><a href="#">НОВОСТИ</a></li>
				<li class="menu__item"><a href="#">КОНТАКТЫ</a></li>
			</ul>
		</nav>
	</header>

	<main class="editors">
		<a href="#" class="editors__back">Назад</a>
		<h1>Редакционный совет журнала</h1>
		<div class="editors__head">
			<h2>Председатель: Харламенков Алексей Евгеньевич </h2>
			<p>Директор центрального научно-исследовательского института русского жестового языка, эксперт НИУ ВШЭ, эксперт по
				информационным технологиям в области электронных документов, Doctor Honoris Causa.</p>
		</div>
		<div class="editors__members">
			<h2>Члены Редакционного Совета</h2>
			<ul>
				<li>Алёшин Владимир Владимирович, доктор экономических наук, профессор кафедры Менеджмента и Экономики спорта
					им. В.В. Кузина Российского государственного университета физической культуры, спорта, молодёжи и туризма.
				</li>
				<li>Бондарь Валентин Степанович, доктор физико-математических наук, профессор, Заслуженный деятель науки
					Российской Федерации, Почётный работник высшего профессионального образования Российской Федерации, академик
					РАЕН, академик Российской академии космонавтики им. К.Э. Циолковского.</li>
				<li>Бритвина Валентина Валентиновна, кандидат педагогических наук, доцент кафедры «Инфокогнитивные технологии»
					Московского политехнического университета, доцент кафедры «Управление и информатика в технических системах»
					Московского государственного технологического университета «СТАНКИН».</li>
				<li>Веретехина Светлана Валерьевна, Dr.Sc.(Tech) кандидат экономических наук, доцент кафедры информационных
					систем, сетей и безопасности, заместитель декана по научной работе Российского государственного социального
					университета.
				</li>
				<li>Гинзбург Александр Витальевич, заведующий кафедрой Информационных систем, технологий и автоматизации в
					строительстве, доктор технических наук, профессор. ФГБОУ ВО «Национальный исследовательский Московский
					государственный строительный университет» (НИУ МГСУ).
				</li>
				<li>Гончаров Валентин Николаевич, доктор экономических наук, профессор, заведующий кафедрой «Экономика
					предприятия и управление трудовыми ресурсами» Луганского национального аграрного университета, г. Луганск.
				</li>
				<li>Димитров Любомир Ванков, проректор по учебной деятельности, аккредитации и международным связям Технического
					университета Софии, доктор, профессор, Заслуженный доктор НГТУ, София (Sofia), София, Болгария
				</li>
				<li>Дусенко Светлана Викторовна, доктор социологических наук, профессор, Почетный работник сферы образования
					Российской Федерации, заведующий кафедрой «Туризм и гостиничное дело» Института туризма, рекреации,
					реабилитации и фитнеса ФГБОУ ВО «Российский государственный университет физической культуры, спорта, молодёжи
					и туризма (ГЦОЛИФК)». Эксперт государственной системы классификации гостиниц и иных средств размещения.
				</li>
				<li>Еникеев Ильдар Хасанович, доктор технических наук, профессор, профессор кафедры «Математика» Московского
					политехнического университета.
				</li>
				<li>Имангулова Татьяна Васильевна, ассоциированный профессор, кандидат педагогических наук, декан факультета
					туризм, академик Международной академии детско-юношеского туризма и краеведения им. А.А. Остапца Свешникова,
					г. Москва, профессор Российской Академии Естествознания (РАЕ), отличник сферы туризма РК.
				</li>
				<li>Кондрашихин Андрей Борисович, доктор экономических наук, кандидат технических наук, профессор, профессор
					кафедры Экономики и менеджмента Института экономики и права (филиал) ОУП ВО «Академия труда и социальных
					отношений» (г. Севастополь).
				</li>
				<li>Луганцев Леонид Дмитриевич, доктор технических наук, профессор, профессор кафедры «Инфокогнитивные
					технологии». Московский политехнический университет.
				</li>
				<li>Майков Константин Анатольевич, доктор технических наук, профессор кафедры «Программное обеспечение ЭВМ и
					информационные технологии» ФГБОУ ВПО «Московский государственный технический университет имени Н.Э. Баумана».
				</li>
				<li>Молчанова Наталья Петровна, доктор экономических наук, профессор Департамента общественных финансов
					Финансового университета при Правительстве Российской Федерации.
				</li>
				<li>Мурадов Александр Владимирович, доктор технических наук, профессор, проректор по научной работе РГУ нефти и
					газа (НИУ) им. И.М. Губкина, Член Совета Директоров (ВОА) Европейской федерации коррозионистов
					(Великобритания).
				</li>
				<li>Нижников Александр Иванович, доктор педагогических наук, кандидат физико-математических наук, профессор,
					Заслуженный работник высшей школы Российской Федерации, Почётный работник высшего профессионального
					образования Российской Федерации, заведующий кафедрой прикладной математики, информатики и информационных
					технологий МИГУ
				</li>
				<li>Олейник Андрей Владимирович, доктор технических наук, профессор, лауреат премии Правительства Российской
					Федерации в области науки и техники, лауреат премии Правительства Российской Федерации в области образования,
					заведующий кафедрой «Управление и информатика в технических системах» Московского государственного
					технологического университета «СТАНКИН».
				</li>
				<li>Разумова Татьяна Олеговна, доктор экономических наук, профессор, заведующий кафедрой экономики труда и
					персонала Экономического факультета МГУ имени М.В. Ломоносова.
				</li>
				<li>Смирнова Вероника Ремовна, доктор экономических наук, профессор, проректор по научной работе Российской
					государственной академии интеллектуальной собственности.
				</li>
				<li>Устинова Лилия Николаевна, доктор экономических наук, профессор кафедры «Управление инновациями и
					коммерческое использование интеллектуальной собственности» Российской государственной академии
					интеллектуальной собственности.
				</li>
				<li>Червяков Леонид Михайлович, доктор технических наук, профессор, лауреат премии Правительства в области
					образования, Лауреат премии Правительства в области науки и техники, почетный работник высшего
					профессионального образования Российской Федерации, академик Академии проблем качества.
				</li>
				<li>Филиппович Андрей Юрьевич, декан факультета Информационных технологий, профессор кафедры «Инфокогнитивные
					технологии» Московского политехнического университета, кандидат технических наук. Эксперт Минобрнауки России,
					АПКИТ, СПК-ИКТ, ФУМО в сфере ИТ, World Skills Россия.
				</li>
				<li>Фирсов Андрей Валентинович, доктор технических наук, профессор, заведующий кафедрой «Информационные
					технологии и компьютерный дизайн» ФГБОУ ВПО «Московский государственный университет дизайна и технологии»
				</li>
				<li>Щербак Евгений Николаевич, доктор юридических наук, профессор Российской государственной академии
					интеллектуальной собственности, Полковник ВВС, военный летчик-истребитель 1-го класса, Почётный работник
					высшего профессионального образования Российской Федерации, Академик РАЕН.</li>
			</ul>
		</div>
	</main>

	<footer class="footer">
		<div class="inner-footer">
			<a class="logo" href="#">
				<img class="logo__img" src="img/logo.png" alt="Логотип">
				<p><span>журнал</span><br>ТЕОРИЯ И ПРАКТИКА<br>ПРОЕКТНОГО ОБРАЗОВАНИЯ</p>
			</a>
		</div>
		<nav class="footer-menu">
			<ul class="footer-menu__list">
				<li class="footer-menu__item"><a href="#">ГЛАВНАЯ</a></li>
				<li class="footer-menu__item footer-menu__item_hover">
					<span>ЖУРНАЛ</span>
					<img src="img/arrow.png" alt="Список">
					<ul class="sub-footer-menu__list">
						<li><a href="#">РУКОВОДСТВО ЖУРНАЛА</a></li>
						<li><a href="#">РЕДАКЦИОННЫЙ СОВЕТ ЖУРНАЛА</a></li>
						<li><a href="#">РЕДАКЦИОННАЯ КОЛЛЕГИЯ ЖУРНАЛА</a></li>
						<li><a href="#">АВТОРАМ</a></li>
						<li><a href="#">АРХИВ</a></li>
					</ul>
				</li>
				<li class="footer-menu__item footer-menu__item_hover">
					<span>ЭКСПЕРТЫ В IT И "ЦИФРОВАЯ ИНФОРМАЦИЯ"</span>
					<img src="img/arrow.png" alt="Список">
				</li>
				<li class="footer-menu__item"><a href="#">ПРОФОРИЕНТАЦИОННЫЙ ТЕСТ</a></li>
				<li class="footer-menu__item"><a href="#">НОВОСТИ</a></li>
				<li class="footer-menu__item"><a href="#">КОНТАКТЫ</a></li>
			</ul>
		</nav>
	</footer>

	<script src="script.js"></script>
</body>

</html>