<footer class="footer">
	<div class="inner-footer">
		<a class="logo" href="#">
			<img class="logo__img" src="img/logo.png" alt="Логотип">
			<p><span>журнал</span><br>ТЕОРИЯ И ПРАКТИКА<br>ПРОЕКТНОГО ОБРАЗОВАНИЯ</p>
		</a>
	</div>
	<nav class="footer-menu">
		<ul class="footer-menu__list">
			<li class="footer-menu__item"><a href="#">ГЛАВНАЯ</a></li>
			<li class="footer-menu__item footer-menu__item_hover">
				<span>ЖУРНАЛ</span>
				<img src="img/arrow.png" alt="Список">
				<ul class="sub-footer-menu__list">
					<li><a href="#">РУКОВОДСТВО ЖУРНАЛА</a></li>
					<li><a href="#">РЕДАКЦИОННЫЙ СОВЕТ ЖУРНАЛА</a></li>
					<li><a href="#">РЕДАКЦИОННАЯ КОЛЛЕГИЯ ЖУРНАЛА</a></li>
					<li><a href="#">АВТОРАМ</a></li>
					<li><a href="#">АРХИВ</a></li>
				</ul>
			</li>
			<li class="footer-menu__item footer-menu__item_hover">
				<span>ЭКСПЕРТЫ В IT И "ЦИФРОВАЯ ИНФОРМАЦИЯ"</span>
				<img src="img/arrow.png" alt="Список">
			</li>
			<li class="footer-menu__item"><a href="#">ПРОФОРИЕНТАЦИОННЫЙ ТЕСТ</a></li>
			<li class="footer-menu__item"><a href="#">НОВОСТИ</a></li>
			<li class="footer-menu__item"><a href="#">КОНТАКТЫ</a></li>
		</ul>
	</nav>
</footer>