{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="forms.css">
	<title>Научный старт</title>
</head>

<body>
	<header class="header">
		<div class="inner-header">
			<a class="logo" href="#">
				<img class="logo__img" src="img/logo.png" alt="Логотип">
				<p><span>журнал</span><br>НАУЧНЫЙ СТАРТ:<br>"ЦИФРОВАЯ ТРАНСФОРМАЦИЯ"</p>
			</a>
			<div class="search">
				<input type="text" class="search__input">
				<button class="search__btn">
					<img src="img/search.png" alt="Искать">
				</button>
			</div>
			<div class="burger">
				<span></span>
			</div>
		</div>
		<nav class="menu">
			<div class="search">
				<input type="text" class="search__input">
				<button class="search__btn">
					<img src="img/search.png" alt="Искать">
				</button>
			</div>
			<ul class="menu__list">
				<li class="menu__item"><a href="#">ГЛАВНАЯ</a></li>
				<li class="menu__item menu__item_hover">ЖУРНАЛ
					<img src="img/arrow.png" alt="Список">
					<div class="wrap-sub-menu__list">
						<ul class="sub-menu__list">
							<li><a href="#">РУКОВОДСТВО ЖУРНАЛА</a></li>
							<li><a href="#">РЕДАКЦИОННЫЙ СОВЕТ ЖУРНАЛА</a></li>
							<li><a href="#">РЕДАКЦИОННАЯ КОЛЛЕГИЯ ЖУРНАЛА</a></li>
							<li><a href="#">АВТОРАМ</a></li>
							<li><a href="#">АРХИВ</a></li>
						</ul>
					</div>
				</li>
				<li class="menu__item menu__item_hover">ЭКСПЕРТЫ В IT И "ЦИФРОВАЯ ИНФОРМАЦИЯ"
					<img src="img/arrow.png" alt="Список">

				</li>
				<li class="menu__item"><a href="#">ПРОФОРИЕНТАЦИОННЫЙ ТЕСТ</a></li>
				<li class="menu__item"><a href="#">НОВОСТИ</a></li>
				<li class="menu__item"><a href="#">КОНТАКТЫ</a></li>
			</ul>
		</nav>
	</header>
	<main class="wrap-form">
		<div class="form-box">
			<h1 class="form-title">Создание эксперта</h1>
			<form class="table-form" action="">
				<label for="title">Введите ФИО:</label>
				<input id="title" type="text">
				<label for="description">Введите Должность:</label>
				<input id="description" type="text">
				<label for="download">Выберите Фото сотрудника:</label>
				<div class="table-form__file">
					<span>Перетащите файл сюда</span>
					<span>или</span>
					<input id="download" type="file" data-multiple-caption="{count} файлов выбрано">
					<label for="download">Выберите файл для загрузки</label>
				</div>

				<input type="submit" value="Создать">
			</form>
		</div>
	</main>

	<script src="script.js"></script>
	<script src="file.js"></script>
</body>

</html>