{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<title>Научный старт</title>
</head>

<body>
	<header class="header">
		<div class="inner-header">
			<a class="logo" href="#">
				<img class="logo__img" src="img/logo.png" alt="Логотип">
				<p><span>журнал</span><br>НАУЧНЫЙ СТАРТ:<br>"ЦИФРОВАЯ ТРАНСФОРМАЦИЯ"</p>
			</a>
			<div class="search">
				<input type="text" class="search__input">
				<button class="search__btn">
					<img src="img/search.png" alt="Искать">
				</button>
			</div>
			<div class="burger">
				<span></span>
			</div>
		</div>
		<nav class="menu">
			<div class="search">
				<input type="text" class="search__input">
				<button class="search__btn">
					<img src="img/search.png" alt="Искать">
				</button>
			</div>
			<ul class="menu__list">
				<li class="menu__item"><a href="#">ГЛАВНАЯ</a></li>
				<li class="menu__item menu__item_hover">ЖУРНАЛ
					<img src="img/arrow.png" alt="Список">
					<div class="wrap-sub-menu__list">
						<ul class="sub-menu__list">
							<li><a href="#">РУКОВОДСТВО ЖУРНАЛА</a></li>
							<li><a href="#">РЕДАКЦИОННЫЙ СОВЕТ ЖУРНАЛА</a></li>
							<li><a href="#">РЕДАКЦИОННАЯ КОЛЛЕГИЯ ЖУРНАЛА</a></li>
							<li><a href="#">АВТОРАМ</a></li>
							<li><a href="#">АРХИВ</a></li>
						</ul>
					</div>
				</li>
				<li class="menu__item menu__item_hover">ЭКСПЕРТЫ В IT И "ЦИФРОВАЯ ИНФОРМАЦИЯ"
					<img src="img/arrow.png" alt="Список">

				</li>
				<li class="menu__item"><a href="#">ПРОФОРИЕНТАЦИОННЫЙ ТЕСТ</a></li>
				<li class="menu__item"><a href="#">НОВОСТИ</a></li>
				<li class="menu__item"><a href="#">КОНТАКТЫ</a></li>
			</ul>
		</nav>
	</header>

	<main class="wrapper">
		<div class="autors">
			<div class="autors-btn">
				<h1 class="autors__title">Авторам</h1>
				<a href="#popup_1" class="popup-link">
					<p class="autors-btn__item">Требования к публикациям</p>
				</a>
				<a href="#popup_2" class="popup-link">
					<p class="autors-btn__item">Рецензирование</p>
				</a>
				<a href="#popup_3" class="popup-link">
					<p class="autors-btn__item">Ограничения журнала</p>
				</a>
				<a href="#popup_4" class="popup-link">
					<p class="autors-btn__item">Объем статьи</p>
				</a>
				<a href="#popup_5" class="popup-link">
					<p class="autors-btn__item">Структурные параметры</p>
				</a>
				<a href="#popup_6" class="popup-link">
					<p class="autors-btn__item">Технические параметры</p>
				</a>
			</div>
			<div class="autors-info">
				<h2 class="autors-info__title">Справочная информация</h2>
				<p class="autors-info__sub-title">Для перевода на английский или другие языки можно использовать следующие
					ссылки
				</p>
				<ul class="autors-info__list">
					<li class="autors-info__item"><a href="http://translate.yandex.ru/">http://translate.yandex.ru/</a> (переводит
						отчества и ученые степени);</li>
					<li class="autors-info__item"><a href="http://translate.google.com/">http://translate.google.com/</a></li>
				</ul>
				<p class="autors-info__sub-title">Для проверки статьи на антиплагиат ссылка:</p>
				<ul class="autors-info__list">
					<li class="autors-info__item"><a
							href="http://www.antiplagiat.ru/index.aspx">http://www.antiplagiat.ru/index.aspx</a> (результаты хранятся
						у
						автора)</li>
				</ul>
				<p class="autors-info__sub-title">Статьи и информация на сайт подаются в редакцию:</p>
				<ul class="autors-info__list">
					<li class="autors-info__item">до 15 марта (мартовский номер)</li>
					<li class="autors-info__item">до 15 июня (июньский номер)</li>
					<li class="autors-info__item">до 15 сентября (сентябрьский номер)</li>
					<li class="autors-info__item">до 15 декабря (декабрьский номер)</li>
				</ul>
				<p class="autors-info__sub-title">Статьи в обязательном порядке размещаются в системе elibrary, ссылка:</p>
				<ul class="autors-info__list">
					<li class="autors-info__item"><a href="http://elibrary.ru/titles.asp">http://elibrary.ru/titles.asp</a> и на
						сайте журнала.</li>
				</ul>
				<p class="autors-info__sub-title">Контактное лицо: 8 (916) 435-40-10 Бритвина Валентина Валентиновна,
					saatum2015@rambler.ru</p>
			</div>
		</div>
	</main>

	<footer class="footer">
		<div class="inner-footer">
			<a class="logo" href="#">
				<img class="logo__img" src="img/logo.png" alt="Логотип">
				<p><span>журнал</span><br>ТЕОРИЯ И ПРАКТИКА<br>ПРОЕКТНОГО ОБРАЗОВАНИЯ</p>
			</a>
		</div>
		<nav class="footer-menu">
			<ul class="footer-menu__list">
				<li class="footer-menu__item"><a href="#">ГЛАВНАЯ</a></li>
				<li class="footer-menu__item footer-menu__item_hover">
					<span>ЖУРНАЛ</span>
					<img src="img/arrow.png" alt="Список">
					<ul class="sub-footer-menu__list">
						<li><a href="#">РУКОВОДСТВО ЖУРНАЛА</a></li>
						<li><a href="#">РЕДАКЦИОННЫЙ СОВЕТ ЖУРНАЛА</a></li>
						<li><a href="#">РЕДАКЦИОННАЯ КОЛЛЕГИЯ ЖУРНАЛА</a></li>
						<li><a href="#">АВТОРАМ</a></li>
						<li><a href="#">АРХИВ</a></li>
					</ul>
				</li>
				<li class="footer-menu__item footer-menu__item_hover">
					<span>ЭКСПЕРТЫ В IT И "ЦИФРОВАЯ ИНФОРМАЦИЯ"</span>
					<img src="img/arrow.png" alt="Список">
				</li>
				<li class="footer-menu__item"><a href="#">ПРОФОРИЕНТАЦИОННЫЙ ТЕСТ</a></li>
				<li class="footer-menu__item"><a href="#">НОВОСТИ</a></li>
				<li class="footer-menu__item"><a href="#">КОНТАКТЫ</a></li>
			</ul>
		</nav>
	</footer>

	<div id="popup_1" class="popup">
		<div class="popup__body">
			<div class="popup__content">
				<a href="#" class="popup__close close-popup">
					<img src="img/close.png" alt="">
				</a>
				<h1 class="popup__title">Требования к публикациям в журнале</h1>
				<p class="popup__text">Автор готовит текст статьи в электронном виде в соответствии с правилами оформления и
					сдает непосредственно в редакцию либо присылает по почте. От авторов, предлагающих свои материалы к публикации
					в журнале, редакция ожидает соблюдения следующих принципов:</p>
				<ul class="popup__list">
					<li class="popup__item">оригинальности исследования;</li>
					<li class="popup__item">предоставления достоверных результатов проделанной работы, отсутствия ложных
						утверждений, безошибочности представления данных;</li>
					<li class="popup__item">объективного обсуждения значимости исследования;</li>
					<li class="popup__item">недопустимости личных, критических или пренебрежительных замечаний и обвинений в адрес
						других исследователей полного исключения плагиата;</li>
					<li class="popup__item">признания вклада других лиц, обязательного наличия библиографических ссылок на все
						внешние источники информации, все публикации, существенные для данной статьи (включая его собственные ранее
						опубликованные статьи и научные материалы), избегая при этом самоплагиата (повторной, дублирующей
						публикации). Автор должен сообщить редколлегии журнала обо всех своих работах и работах своих соавторов,
						пересекающихся по тематике с представленной в редакцию статьёй и находящихся на рассмотрении в других
						изданиях;</li>
					<li class="popup__item">получения разрешения на использование (воспроизведение) чужих материалов, таблиц,
						изображений и обязательного указания автора этих материалов и/или владельца авторских прав на эти материалы;
					</li>
					<li class="popup__item">представления информации из конфиденциальных источников только с их разрешения;</li>
					<li class="popup__item">представления в качестве соавторов всех участников, внесших существенный вклад в
						исследование и написание статьи;</li>
					<li class="popup__item">одобрения окончательной версии работы всеми соавторами и их полного согласия с
						представлением её к публикации;</li>
					<li class="popup__item">выражения благодарности другим коллегам, не являющимся авторами данной статьи, но
						повлиявшим на её создание;</li>
					<li class="popup__item">чёткого указания в тексте рукописи сведений о полученных грантах, других источниках
						финансирования исследования, обо всех других формах поддержки, т.е. фактах, которые могут быть восприняты
						как оказавшие влияние на результаты или выводы, представленные в работе);</li>
					<li class="popup__item">незамедлительного сообщения об обнаружении существенных ошибок или неточностей в
						публикации и взаимодействия с редактором с целью скорейшего исправления ошибок или изъятия публикации,
						своевременного исправления ошибок и неточностей, выявленных рецензентом или редактором.</li>
				</ul>
				<div class="popup__btn">
					<a href="#popup_6" class="popup-link">
						<img src="img/back.png" alt="">
					</a>
					<a href="#popup_2" class="popup-link">
						<img src="img/next.png" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>

	<div id="popup_2" class="popup">
		<div class="popup__body">
			<div class="popup__content">
				<a href="#" class="popup__close close-popup">
					<img src="img/close.png" alt="">
				</a>
				<h1 class="popup__title">Требования к рецензированию</h1>
				<p class="popup__text">Автор готовит текст статьи в электронном виде в соответствии с правилами оформления и
					сдает непосредственно в редакцию либо присылает по почте. От авторов, предлагающих свои материалы к публикации
					в журнале, редакция ожидает соблюдения следующих принципов:</p>
				<ul class="popup__list">
					<li class="popup__item">оригинальности исследования;</li>
					<li class="popup__item">предоставления достоверных результатов проделанной работы, отсутствия ложных
						утверждений, безошибочности представления данных;</li>
					<li class="popup__item">объективного обсуждения значимости исследования;</li>
					<li class="popup__item">недопустимости личных, критических или пренебрежительных замечаний и обвинений в адрес
						других исследователей полного исключения плагиата;</li>
					<li class="popup__item">признания вклада других лиц, обязательного наличия библиографических ссылок на все
						внешние источники информации, все публикации, существенные для данной статьи (включая его собственные ранее
						опубликованные статьи и научные материалы), избегая при этом самоплагиата (повторной, дублирующей
						публикации). Автор должен сообщить редколлегии журнала обо всех своих работах и работах своих соавторов,
						пересекающихся по тематике с представленной в редакцию статьёй и находящихся на рассмотрении в других
						изданиях;</li>
					<li class="popup__item">получения разрешения на использование (воспроизведение) чужих материалов, таблиц,
						изображений и обязательного указания автора этих материалов и/или владельца авторских прав на эти материалы;
					</li>
					<li class="popup__item">представления информации из конфиденциальных источников только с их разрешения;</li>
					<li class="popup__item">представления в качестве соавторов всех участников, внесших существенный вклад в
						исследование и написание статьи;</li>
					<li class="popup__item">одобрения окончательной версии работы всеми соавторами и их полного согласия с
						представлением её к публикации;</li>
					<li class="popup__item">выражения благодарности другим коллегам, не являющимся авторами данной статьи, но
						повлиявшим на её создание;</li>
					<li class="popup__item">чёткого указания в тексте рукописи сведений о полученных грантах, других источниках
						финансирования исследования, обо всех других формах поддержки, т.е. фактах, которые могут быть восприняты
						как оказавшие влияние на результаты или выводы, представленные в работе);</li>
					<li class="popup__item">незамедлительного сообщения об обнаружении существенных ошибок или неточностей в
						публикации и взаимодействия с редактором с целью скорейшего исправления ошибок или изъятия публикации,
						своевременного исправления ошибок и неточностей, выявленных рецензентом или редактором.</li>
				</ul>
				<div class="popup__btn">
					<a href="#popup_1" class="popup-link">
						<img src="img/back.png" alt="">
					</a>
					<a href="#popup_3" class="popup-link">
						<img src="img/next.png" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>

	<div id="popup_3" class="popup">
		<div class="popup__body">
			<div class="popup__content">
				<a href="#" class="popup__close close-popup">
					<img src="img/close.png" alt="">
				</a>
				<h1 class="popup__title">Ограничения журнала</h1>
				<p class="popup__text">Автор готовит текст статьи в электронном виде в соответствии с правилами оформления и
					сдает непосредственно в редакцию либо присылает по почте. От авторов, предлагающих свои материалы к публикации
					в журнале, редакция ожидает соблюдения следующих принципов:</p>
				<ul class="popup__list">
					<li class="popup__item">оригинальности исследования;</li>
					<li class="popup__item">предоставления достоверных результатов проделанной работы, отсутствия ложных
						утверждений, безошибочности представления данных;</li>
					<li class="popup__item">объективного обсуждения значимости исследования;</li>
					<li class="popup__item">недопустимости личных, критических или пренебрежительных замечаний и обвинений в адрес
						других исследователей полного исключения плагиата;</li>
					<li class="popup__item">признания вклада других лиц, обязательного наличия библиографических ссылок на все
						внешние источники информации, все публикации, существенные для данной статьи (включая его собственные ранее
						опубликованные статьи и научные материалы), избегая при этом самоплагиата (повторной, дублирующей
						публикации). Автор должен сообщить редколлегии журнала обо всех своих работах и работах своих соавторов,
						пересекающихся по тематике с представленной в редакцию статьёй и находящихся на рассмотрении в других
						изданиях;</li>
					<li class="popup__item">получения разрешения на использование (воспроизведение) чужих материалов, таблиц,
						изображений и обязательного указания автора этих материалов и/или владельца авторских прав на эти материалы;
					</li>
					<li class="popup__item">представления информации из конфиденциальных источников только с их разрешения;</li>
					<li class="popup__item">представления в качестве соавторов всех участников, внесших существенный вклад в
						исследование и написание статьи;</li>
					<li class="popup__item">одобрения окончательной версии работы всеми соавторами и их полного согласия с
						представлением её к публикации;</li>
					<li class="popup__item">выражения благодарности другим коллегам, не являющимся авторами данной статьи, но
						повлиявшим на её создание;</li>
					<li class="popup__item">чёткого указания в тексте рукописи сведений о полученных грантах, других источниках
						финансирования исследования, обо всех других формах поддержки, т.е. фактах, которые могут быть восприняты
						как оказавшие влияние на результаты или выводы, представленные в работе);</li>
					<li class="popup__item">незамедлительного сообщения об обнаружении существенных ошибок или неточностей в
						публикации и взаимодействия с редактором с целью скорейшего исправления ошибок или изъятия публикации,
						своевременного исправления ошибок и неточностей, выявленных рецензентом или редактором.</li>
				</ul>
				<div class="popup__btn">
					<a href="#popup_2" class="popup-link">
						<img src="img/back.png" alt="">
					</a>
					<a href="#popup_4" class="popup-link">
						<img src="img/next.png" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>

	<div id="popup_4" class="popup">
		<div class="popup__body">
			<div class="popup__content">
				<a href="#" class="popup__close close-popup">
					<img src="img/close.png" alt="">
				</a>
				<h1 class="popup__title">Требования к объему статьи</h1>
				<p class="popup__text">Автор готовит текст статьи в электронном виде в соответствии с правилами оформления и
					сдает непосредственно в редакцию либо присылает по почте. От авторов, предлагающих свои материалы к публикации
					в журнале, редакция ожидает соблюдения следующих принципов:</p>
				<ul class="popup__list">
					<li class="popup__item">оригинальности исследования;</li>
					<li class="popup__item">предоставления достоверных результатов проделанной работы, отсутствия ложных
						утверждений, безошибочности представления данных;</li>
					<li class="popup__item">объективного обсуждения значимости исследования;</li>
					<li class="popup__item">недопустимости личных, критических или пренебрежительных замечаний и обвинений в адрес
						других исследователей полного исключения плагиата;</li>
					<li class="popup__item">признания вклада других лиц, обязательного наличия библиографических ссылок на все
						внешние источники информации, все публикации, существенные для данной статьи (включая его собственные ранее
						опубликованные статьи и научные материалы), избегая при этом самоплагиата (повторной, дублирующей
						публикации). Автор должен сообщить редколлегии журнала обо всех своих работах и работах своих соавторов,
						пересекающихся по тематике с представленной в редакцию статьёй и находящихся на рассмотрении в других
						изданиях;</li>
					<li class="popup__item">получения разрешения на использование (воспроизведение) чужих материалов, таблиц,
						изображений и обязательного указания автора этих материалов и/или владельца авторских прав на эти материалы;
					</li>
					<li class="popup__item">представления информации из конфиденциальных источников только с их разрешения;</li>
					<li class="popup__item">представления в качестве соавторов всех участников, внесших существенный вклад в
						исследование и написание статьи;</li>
					<li class="popup__item">одобрения окончательной версии работы всеми соавторами и их полного согласия с
						представлением её к публикации;</li>
					<li class="popup__item">выражения благодарности другим коллегам, не являющимся авторами данной статьи, но
						повлиявшим на её создание;</li>
					<li class="popup__item">чёткого указания в тексте рукописи сведений о полученных грантах, других источниках
						финансирования исследования, обо всех других формах поддержки, т.е. фактах, которые могут быть восприняты
						как оказавшие влияние на результаты или выводы, представленные в работе);</li>
					<li class="popup__item">незамедлительного сообщения об обнаружении существенных ошибок или неточностей в
						публикации и взаимодействия с редактором с целью скорейшего исправления ошибок или изъятия публикации,
						своевременного исправления ошибок и неточностей, выявленных рецензентом или редактором.</li>
				</ul>
				<div class="popup__btn">
					<a href="#popup_3" class="popup-link">
						<img src="img/back.png" alt="">
					</a>
					<a href="#popup_5" class="popup-link">
						<img src="img/next.png" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>

	<div id="popup_5" class="popup">
		<div class="popup__body">
			<div class="popup__content">
				<a href="#" class="popup__close close-popup">
					<img src="img/close.png" alt="">
				</a>
				<h1 class="popup__title">Требования к структурным параметрам</h1>
				<p class="popup__text">Автор готовит текст статьи в электронном виде в соответствии с правилами оформления и
					сдает непосредственно в редакцию либо присылает по почте. От авторов, предлагающих свои материалы к публикации
					в журнале, редакция ожидает соблюдения следующих принципов:</p>
				<ul class="popup__list">
					<li class="popup__item">оригинальности исследования;</li>
					<li class="popup__item">предоставления достоверных результатов проделанной работы, отсутствия ложных
						утверждений, безошибочности представления данных;</li>
					<li class="popup__item">объективного обсуждения значимости исследования;</li>
					<li class="popup__item">недопустимости личных, критических или пренебрежительных замечаний и обвинений в адрес
						других исследователей полного исключения плагиата;</li>
					<li class="popup__item">признания вклада других лиц, обязательного наличия библиографических ссылок на все
						внешние источники информации, все публикации, существенные для данной статьи (включая его собственные ранее
						опубликованные статьи и научные материалы), избегая при этом самоплагиата (повторной, дублирующей
						публикации). Автор должен сообщить редколлегии журнала обо всех своих работах и работах своих соавторов,
						пересекающихся по тематике с представленной в редакцию статьёй и находящихся на рассмотрении в других
						изданиях;</li>
					<li class="popup__item">получения разрешения на использование (воспроизведение) чужих материалов, таблиц,
						изображений и обязательного указания автора этих материалов и/или владельца авторских прав на эти материалы;
					</li>
					<li class="popup__item">представления информации из конфиденциальных источников только с их разрешения;</li>
					<li class="popup__item">представления в качестве соавторов всех участников, внесших существенный вклад в
						исследование и написание статьи;</li>
					<li class="popup__item">одобрения окончательной версии работы всеми соавторами и их полного согласия с
						представлением её к публикации;</li>
					<li class="popup__item">выражения благодарности другим коллегам, не являющимся авторами данной статьи, но
						повлиявшим на её создание;</li>
					<li class="popup__item">чёткого указания в тексте рукописи сведений о полученных грантах, других источниках
						финансирования исследования, обо всех других формах поддержки, т.е. фактах, которые могут быть восприняты
						как оказавшие влияние на результаты или выводы, представленные в работе);</li>
					<li class="popup__item">незамедлительного сообщения об обнаружении существенных ошибок или неточностей в
						публикации и взаимодействия с редактором с целью скорейшего исправления ошибок или изъятия публикации,
						своевременного исправления ошибок и неточностей, выявленных рецензентом или редактором.</li>
				</ul>
				<div class="popup__btn">
					<a href="#popup_4" class="popup-link">
						<img src="img/back.png" alt="">
					</a>
					<a href="#popup_6" class="popup-link">
						<img src="img/next.png" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>

	<div id="popup_6" class="popup">
		<div class="popup__body">
			<div class="popup__content">
				<a href="#" class="popup__close close-popup">
					<img src="img/close.png" alt="">
				</a>
				<h1 class="popup__title">Требования к техническим параметрам</h1>
				<p class="popup__text">Автор готовит текст статьи в электронном виде в соответствии с правилами оформления и
					сдает непосредственно в редакцию либо присылает по почте. От авторов, предлагающих свои материалы к публикации
					в журнале, редакция ожидает соблюдения следующих принципов:</p>
				<ul class="popup__list">
					<li class="popup__item">оригинальности исследования;</li>
					<li class="popup__item">предоставления достоверных результатов проделанной работы, отсутствия ложных
						утверждений, безошибочности представления данных;</li>
					<li class="popup__item">объективного обсуждения значимости исследования;</li>
					<li class="popup__item">недопустимости личных, критических или пренебрежительных замечаний и обвинений в адрес
						других исследователей полного исключения плагиата;</li>
					<li class="popup__item">признания вклада других лиц, обязательного наличия библиографических ссылок на все
						внешние источники информации, все публикации, существенные для данной статьи (включая его собственные ранее
						опубликованные статьи и научные материалы), избегая при этом самоплагиата (повторной, дублирующей
						публикации). Автор должен сообщить редколлегии журнала обо всех своих работах и работах своих соавторов,
						пересекающихся по тематике с представленной в редакцию статьёй и находящихся на рассмотрении в других
						изданиях;</li>
					<li class="popup__item">получения разрешения на использование (воспроизведение) чужих материалов, таблиц,
						изображений и обязательного указания автора этих материалов и/или владельца авторских прав на эти материалы;
					</li>
					<li class="popup__item">представления информации из конфиденциальных источников только с их разрешения;</li>
					<li class="popup__item">представления в качестве соавторов всех участников, внесших существенный вклад в
						исследование и написание статьи;</li>
					<li class="popup__item">одобрения окончательной версии работы всеми соавторами и их полного согласия с
						представлением её к публикации;</li>
					<li class="popup__item">выражения благодарности другим коллегам, не являющимся авторами данной статьи, но
						повлиявшим на её создание;</li>
					<li class="popup__item">чёткого указания в тексте рукописи сведений о полученных грантах, других источниках
						финансирования исследования, обо всех других формах поддержки, т.е. фактах, которые могут быть восприняты
						как оказавшие влияние на результаты или выводы, представленные в работе);</li>
					<li class="popup__item">незамедлительного сообщения об обнаружении существенных ошибок или неточностей в
						публикации и взаимодействия с редактором с целью скорейшего исправления ошибок или изъятия публикации,
						своевременного исправления ошибок и неточностей, выявленных рецензентом или редактором.</li>
				</ul>
				<div class="popup__btn">
					<a href="#popup_5" class="popup-link">
						<img src="img/back.png" alt="">
					</a>
					<a href="#popup_1" class="popup-link">
						<img src="img/next.png" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>

	<script src="popups.js"></script>
	<script src="script.js"></script>
</body>

</html>